body {
  background-color:#f8f8f8 ;
}
/* bgcolor="#4169E1" background="yz1.jpg" text="#FFFFFF" */
a {
  color: #6c4f80;
  font-family: 'Segoe Script';
  text-decoration: none;
}
a:hover:link {
  color: #3bb371;
 }
a:hover:visited {
  color: #063624;
 }
a:visited{
  color: #7e22d4;
}
h2 {
  background-color:  #eaeaea;
  color: #000;
  font: 18px;
  font-weight: 400;
}
h3 {
  background-color:  #eaeaea;
  color: #000;
  font: 18px;
  font-weight: 400;
}
.first {
  color: #707070;
  font: 14px;
  font-style: italic;
  line-height: 16px; 
}
.second {
  color: #484343;
  font: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left; 
}
.third {
  color: #7a551d;
  font: 15px;
  font-weight: 500;
  line-height: 20px;
}
.forfio:first-letter{
  text-transform: capitalize;
}
input[type=text]{
  width: 400px;
  height: 30px;
  color: #5944b4;
  font-family: 'Segoe Print';
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}
input[type=email]{
  width: 400px;
  height: 30px;
  color: #8290b4;
  font-family: 'Segoe Print';
  font-weight: bold;
  font-size: 18px;
  background-color: #e7f1f0;
}
li {
  list-style-type:  none;
}
table,
td,
th {
	border: 2px solid #724646;
  width: 550px;
	height: 30px;
	text-align: center;
  background: #f0e7e7;
}
table {
	border-collapse: collapse;
}
.product_img {
	border: solid;
	border-color: #c191ee #483e9e #1c145e #7b3b8b;
}
.product_img:hover {
	border: none;
	margin: 3px;
}

th {
	background: #000000;
}
.container{
  margin: auto;
  width: 80%;
}
header{
  /*display: flexbox;*/
  margin: auto;
  height: 110px;
}
header li{
  display: inline;
}
input[type="button"],[type="reset"]{
  font-family: 'Segoe Script';
}
input[type="button"]:hover{
  background-color: #927d38;
  color: #FFF
}
input[type="button"]:active{
  background-color: #3b3c69;
  color: #FFF
}
input[type="reset"]:hover{
  background-color: #925c38;
  color: #FFF
}
input[type="reset"]:active{
  background-color: #b63220;
  color: #FFF
}
footer{
  position: relative;
  right: 0px;
  height: 100%;
  bottom: 0;
  width: 100%;
  background-color: #e9e3e3;
  margin-left: auto;
  max-width: 100%;
  margin-right: 100px;
}
#smt{
  text-align: right ;
  padding-left: auto;
  padding-right: 50px;
  padding-top: 10px;
}
#smt1{

  text-align: right;


}
.logo {
  padding-left: 10px;
  padding-right: auto;
  position: sticky;
  float: left;
  width: 100px;
}
